.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journalEntry {
  width: 500px;
  background: #FFF;
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #45AB7F;
    padding-bottom: 4px;
    .feelingImgBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 42px;
      width: 42px;
      margin: 0 8px 0 12px;
    }
    p {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 26px;
      color: #455A64;
      cursor: default;
    }
  }
  .entryContent {
    width: 100%;
    height: 300px;
    .inputContainer {
      padding: 0 12px;
      //border: 1px solid red;
      .question {
        //border: 1px solid blue;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #455A64;
        padding: 5px 0;
      }
    }

  }
  .entryFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 52px;
    width: 100%;
    border-top: 1px solid #45AB7F;
    padding-right: 12px;
  }
}

.feelingImg {
  height: 41px;
  width: 41px;
  background-size: cover;
}

.happy {
  @extend .feelingImg;
  background: url('./images/happy.svg') no-repeat center center;
}

.excited {
  @extend .feelingImg;
  background: url('./images/excited.svg') no-repeat center center;
}

.shy {
  @extend .feelingImg;
  background: url('./images/shy.svg') no-repeat center center;
}

.mad {
  @extend .feelingImg;
  background: url('./images/mad.svg') no-repeat center center;
}

.nervous {
  @extend .feelingImg;
  background: url('./images/nervous.svg') no-repeat center center;
}

.sad {
  @extend .feelingImg;
  background: url('./images/sad.svg') no-repeat center center;
}

.scared {
  @extend .feelingImg;
  background: url('./images/scared.svg') no-repeat center center;
}

.bored {
  @extend .feelingImg;
  background: url('./images/bored.svg') no-repeat center center;
}