.journalInput {
  textarea {
    width: 100%;
    background: #F9F9F9;
    border: 1px solid #45AB7F;
    border-radius: 4px;
    resize: none;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #455A64;
    font-weight: 300;
    padding: 6px;
  }
  .whyTextArea {
    min-height: 100px;
  }
  .whatTextArea {
    margin-top: 5px;
    min-height: 90px;
  }
  textarea::-webkit-input-placeholder {
    font-weight: 300;
  }
  textarea::-moz-placeholder {
    font-weight: 300;
  }
  textarea:-moz-placeholder {
    font-weight: 300;
  }
  textarea:-ms-input-placeholder {
    font-weight: 300;
  }
}